language: python
python:
  - "3.6"
before_install:
  - chmod +x install-samtools.sh
  - ./install-samtools.sh
install:
  - python setup.py install
script: python -m unittest -v clubcpg/tests/test_Module.py
